fastapi
uvicorn[standard]
starlette
requests
httpx[http2]
jinja2
python-multipart
itsdangerous
pydantic-settings
psycopg2-binary
pymysql
pymssql
pymongo
redis
neo4j
cryptography
faker
passlib[bcrypt]
bcrypt==4.0.1
python-dotenv
authlib
psutil
cassandra-driver
